

.all_body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: rgb(192, 185, 185);

}

.header{
    background: white;
    width: 120%;
    margin-left:-10%;
}
.body_except_header{
    background: white;
    margin-top:5%;
}
.dropdown{
    position: relative;
}

.latitude{
    background: rgb(15, 156, 145);
    color:white;
    left:10%;
}

.latidute_text{
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-size: 24px;
    margin: 10% 20% 10% 20%;
    text-align: center;
    font-weight: bold;
}

.baslik{
    font-weight: bold;
    color: rgb(15, 156, 145);

}
.comparison_baslik{
    font-weight: bold;
    color: rgb(15, 156, 145);
    text-align: center;

}

.comparision_left_box{
    background: white;
}
.buttons{
    font-size: 16px;
    text-align: center;
    margin-top: 1%;
    color:white;
    right:5%;
}

.poles{
    float: left;
    margin:3%;
}
.comparison{
    float: left;
    margin:3%;
}
.data{
    float: left;
    margin:3%;
}

.main_box{
    margin: 3% 0% 3% 0%;
    background: white;

    width: 60%;
}
.right_box{
    
    width: 38%;
    background: white;
    margin: 3% 1% 3% 1%;
}
.main_box_content{
    margin:10% 1% 5% 1%;
}

.temperature{
    width: 50%;
    float: left;
    margin: 1% 5% 1% 2%;
    
}

.first_p_in_summary{
    margin: 1%;
    
}

.second_p_in_summary{
    margin: 5%;

    
}

.temp{
    width: 46%;
    float: left;
    margin:2% ;
}

.humidity{
    width: 46%;
    margin:2%;
    float: left;
}

.cloudiness{
    width: 46%;
    margin:2%;
    float: left;
}

.wind_speed{
    width: 46%;
    margin:2%;
    float: left;
}

.temp_png{
    width: 80%;
    margin-left:10%;
    margin-bottom: 5%;
}

.comparision_pngs{
    width: 90%;
    margin:5%;
}

.comparison_second_row_header{
    margin-left:5%;

}

.clik_note{
    margin: 5%;
}

#dropdown_btn{
    border:none;
    
}

.comparison{
    text-decoration: none;
  }